@font-face {
    font-family: "Ultra";
    src: url(brent_haas_files/fonts/HelveticaNeue-UltraLight.ttf) format("truetype");
}
@font-face {
    font-family: "Thin";
    src: url(brent_haas_files/fonts/HelveticaNeue-Thin.ttf) format("truetype");
}






body {
  padding-top: 60px;
  background-color: #1B191A;
  color: #D6CEBA;
}
a {
  color: #D6CEBA;
  text-decoration: none;
}
a:hover {
  color: #D6CEBA;
  text-decoration: none;
}
.projects>a:nth-child(5) .project-link-past{
	margin-left: 90px;
}
.main {
	padding-left: 100px;
	margin: 3% auto;
  	max-width: 1200px;
}
.projects {
	padding-left: 50px;
	max-width: 1100px;
	margin: 20px auto;
}
.head-right {
	/*display: inline;*/
	float: right;
	width: 33%;
}
.head-left {
	/*display: inline;*/
	float: left;
	width: 66%;
}
@media(max-width : 1080px) {
	.projects {
		/*padding-left: 70px;*/
		max-width: 900px;
	}
	.projects>a:nth-child(n) .project-link-past{
		margin-left: 0px;
	}
	.projects>a:nth-child(4) .project-link-past{
		margin-left: 90px;
	}
	.projects>a:nth-child(10) .project-link-past{
		margin-left: 90px;
	}
}
@media(max-width : 991px) {
	.projects>a:nth-child(n) .project-link-past{
		margin-left: 0px;
	}
	.projects>a:nth-child(4) .project-link-past{
		margin-left: 60px;
	}
	.projects>a:nth-child(10) .project-link-past{
		margin-left: 60px;
	}
}
@media(max-width: 830px) {
	.projects {
		/*padding-left: 70px;*/
		max-width: 700px;
	}
	.head-right {
		float: none;
		display: block;
		text-align: left;
		width: 80%;
		padding-left:60px;
	}
	.head-left {
		float: none;
		display: block;
		width: 80%;
		margin: 0% auto;
	}
	.main {
		margin: 0 auto;
		padding-left: 30px;
	}
	body {
		padding-top: 20px;
	}
	.projects>a:nth-child(n) .project-link-past{
		margin-left: 0px;
	}
	.projects>a:nth-child(3) .project-link-past{
		margin-left: 60px;
	}
	.projects>a:nth-child(7) .project-link-past{
		margin-left: 60px;
	}
	.projects>a:nth-child(11) .project-link-past{
		margin-left: 60px;
	}
}
@media(max-width: 610px) {
	.projects {
		padding-left: 0px;
		max-width: 280px;
	}
	.projects>a:nth-child(n) .project-link-past{
		margin-left: 0px;
	}
	.projects>a:nth-child(even) .project-link-past{
		margin-left: 90px;
	}
	
}

/*@media only screen and (min-width : 620px) {
	.projects>a:nth-child(4n + 1) .project-link{
		margin-left: 90px;
	}
}

@media only screen and (min-width : 400px) {
	.projects>a:nth-child(2n) .project-link{
		margin-left: 90px;
	}
}*/

.home-container {
	/*padding-left: 80px;*/
}

.site-title {
	font-family: "Ultra", Helvetica, sans-serif;
	display: inline-block;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
}
.site-description {
	font-family: "Thin", Helvetica, sans-serif;
	font-weight: 100;
}
.site-logo {
	height: 140px;
}



/*========================
     PAST PROJECTS
========================*/
.project-link-past span {
  	color: #D6CEBA;
  	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: 12px;
	right: 18px;
}
.project-link-past:hover span {
	display: none;
}
.project-link-past .past-logo {
	display: none;
}
.project-link-past:hover .past-logo {
	/*padding-top: 10px;*/
	position: relative;
	right: 0px;
	top: 7px;
	
	height:20px;
	display: inline-block;
	overflow: hidden
}
.project-link-past-logo:hover {
	text-align: center;
}




.project-link-past {
	margin-top: 40px;
	width: 220px;
	height: 40px;
	background: url('tab.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	text-align: right;
}
.project-link-past:hover {
	width: 220px;
	height: 40px;
	background: url('tab_hover.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.project-link-past p {
  	color: #D6CEBA;
  	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: 12px;
	right: 18px;
}
.project-link-past:hover p {
	color: #1B191A;
}
/*========================
     CURRENT PROJECT
========================*/
.project-link-current {
	margin-top: 40px;
	width: 220px;
	height: 40px;
	background: url('tab.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	text-align: right;
}
.project-link-current:hover {
	width: 220px;
	height: 40px;
	background: url('tab-red-hover.png');
	/*background: url('tab_hover.png');*/
	background-size: 100% auto;
	background-repeat: no-repeat;
}
.project-link-current p {
  	color: #6766FF;
  	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: 17px;
	right: 7px;
}
.project-link-current:hover p {
	color: #1B191A;
}


/*========================
     FOOTER
========================*/
.footer {
	/*margin: 50px 200px;*/
	text-align: right;
	max-width: 1000px;
	margin: 140px auto;
}
.footer a {
	text-decoration: none;
}
.fa {
	margin-right: 20px;
	color: #D6CEBA;
}
.copyright {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 10px;
	position: relative;
	bottom: 5px;
}
@media(max-width : 1080px) {
.footer {
	max-width: 800px;
	}
}

@media(max-width : 830px) {
.footer {
	max-width: 500px;
	}
}




