@font-face {
    font-family: "Ultra";
    src: url(brent_haas_files/fonts/HelveticaNeue-UltraLight.ttf) format("truetype");
}
@font-face {
    font-family: "Thin";
    src: url(brent_haas_files/fonts/HelveticaNeue-Thin.ttf) format("truetype");
}

html {
	min-width: 530px;
}

body {
  padding-top: 60px;
  background-color: #1B191A;
  color: #D6CEBA;
}
a {
  color: #D6CEBA;
  text-decoration: none;
}
a:hover {
  color: #D6CEBA;
  text-decoration: none;
}
.projects>a:nth-child(5) .project-link-past{
	margin-left: 90px;
}
.main {
	padding-left: 100px;
	margin: 3% auto;
  	max-width: 1200px;
}
.projects {
	padding-left: 50px;
	max-width: 1100px;
	margin: 20px auto;
}
.head-right {
	float: right;
	width: 33%;
	margin-left: 10%;
}
.head-left {
	float: left;
	width: 56%;
}


.home-container {
	/*padding-left: 80px;*/
}

.site-title {
	font-family: "Ultra", Helvetica, sans-serif;
	display: inline-block;
	margin-bottom: 0px;
	text-transform: uppercase;
	font-weight: 100;
	letter-spacing: 2px;
}
.site-description {
	font-family: "Thin", Helvetica, sans-serif;
	font-weight: 100;
}
.site-logo {
	height: 140px;
}



/*========================
     PAST PROJECTS
========================*/
.project-link-past span {
  	color: #D6CEBA;
  	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: 12px;
	right: 18px;
}

.project-link-past {
	margin-top: 40px;
	width: 220px;
	height: 40px;
	background: url('tab.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	text-align: right;
}

.project-link-past p {
  	color: #D6CEBA;
  	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: 12px;
	right: 18px;
}

/*========================
     CURRENT PROJECT
========================*/
.project-link-current {
	margin-top: 40px;
	width: 220px;
	height: 40px;
	background: url('tab.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
	display: inline-block;
	text-align: right;
}

.project-link-current p {
  	color: #6766FF;
  	text-transform: uppercase;
	font-weight: 500;
	letter-spacing: 0px;
	position: relative;
	top: 12px;
	right: 18px;
}
.project-link-current:hover p {
	color: #1B191A;
}
.project-link-current:hover {
	background: url('tab-red-hover.png');
	background-size: 100% auto;
	background-repeat: no-repeat;
}

/*========================
     FOOTER
========================*/
.footer {
	text-align: right;
	max-width: 1000px;
	margin: 140px auto;
}
.footer a {
	text-decoration: none;
}
.fa {
	margin-right: 20px;
	color: #D6CEBA;
}
.copyright {
	text-transform: uppercase;
	font-weight: 200;
	font-size: 10px;
	position: relative;
	bottom: 5px;
}
@media(max-width : 1080px) {
.footer {
	max-width: 800px;
	}
}

@media(max-width : 830px) {
.footer {
	max-width: 500px;
	}
}



/*========================
     ANIMATION ASSIST
========================*/

.flip {
	position: relative; 
	top: 25px;
}


/*================================
     Stagger Tabs on Mobile
==================================*/

@media(max-width : 1080px) {
	.projects {
		max-width: 900px;
	}
	.projects>a:nth-child(n) .project-link-past{
		margin-left: 0px;
	}
	.projects>a:nth-child(4) .project-link-past{
		margin-left: 90px;
	}
	.projects>a:nth-child(10) .project-link-past{
		margin-left: 90px;
	}
}
@media(max-width : 991px) {
	.projects>a:nth-child(n) .project-link-past{
		margin-left: 0px;
	}
	.projects>a:nth-child(4) .project-link-past{
		margin-left: 60px;
	}
	.projects>a:nth-child(10) .project-link-past{
		margin-left: 60px;
	}
}
@media(max-width: 830px) {
	.site-title {
		font-size: 30px;
	}
	
	.projects {
		max-width: 700px;
		margin-top: 0px;
	}
	.head-right {
		float: none;
		display: block;
		text-align: center;
		width: 80%;
		padding-bottom: 30px;
		/*padding-left:60px;*/
	}
	.head-left {
		float: none;
		display: block;
		width: 80%;
		margin: 0% auto;
	}
	.main {
		margin: 0 auto;
		padding-left: 30px;
	}
	body {
		padding-top: 20px;
	}
	.projects>a:nth-child(n) .project-link-past{
		margin-left: 0px;
	}
	.projects>a:nth-child(3) .project-link-past{
		margin-left: 60px;
	}
	.projects>a:nth-child(7) .project-link-past{
		margin-left: 60px;
	}
	.projects>a:nth-child(11) .project-link-past{
		margin-left: 60px;
	}
}

@media(max-width: 610px) {
	.site-title {
		font-size: 24px;
	}
	.site-description {
		font-size: 10px;
	}
	
	/*MAKE TABS SMALLER*/
	.project-link-past {
		margin-top: 40px;
		width: 170px;
		height: 30px;
	}
	
	.project-link-past p {
	  	font-size: 10px;
		font-weight: 500;
		top: 10px;
		right: 62px;
	}
	
	.project-link-current {
		margin-top: 40px;
		width: 170px;
		height: 30px;
	}
	
	.project-link-current p {
	  	font-size: 10px;
		font-weight: 500;
		top: 10px;
		right: 62px;
	}
	
	
	
}
